[user]
	name = Papuna Gagnidze
	email = pgagnidze@pm.me
	signingkey = 5FD281D8218E26FB

[core]
	pager = diff-so-fancy | less --tabs=4 -RF
	editor = nvim
	compression = 9
	whitespace = trailing-space
	preloadIndex = true

[init]
	defaultBranch = main

[alias]
	graph = log --all --graph --decorate --oneline
	stat = status --short

[commit]
	verbose = true
	gpgsign = true

[gpg]
	program = /usr/bin/gpg

[branch]
	sort = -committerdate

[tag]
	sort = -version:refname

[diff]
	algorithm = histogram
	mnemonicPrefix = true

[interactive]
	diffFilter = diff-so-fancy --patch
	singlekey = true

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[fetch]
	prune = true

[rebase]
	missingCommitsCheck = warn
	autoSquash = true

[rerere]
	enabled = true
	autoUpdate = true

[column]
	ui = auto

[status]
	branch = true
	showStash = true

[help]
	autocorrect = prompt

[maintenance]
	auto = true
	strategy = incremental
